body {
  margin: 0;
  font-family: sans-serif;
  background-color: #070707;
   color: #f0f0f0; 
  overflow-x: hidden;
  transition: transform 0.3s ease;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d9d9d9;  /* beyaza yakın açık gri */
  color: #111;                /* yazılar siyahımsı görünsün */
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1001;
  transition: transform 0.3s ease;
}

.menu-button {
  font-size: 24px;
  cursor: pointer;
}

.logo {
  width: 150px;         /* Logonun genişliği */
  height: 150px;         /* Logonun yüksekliği */
  background-image: url('images/logo.png'); /* Kendi logonun yolu */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px; /* Yazıyı gizle, sadece görsel görünsün */
}


/* Drawer */
.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #d9d9d9;  /* beyaza yakın açık gri */
  color: #111;                /* yazılar koyu görünsün */
  padding: 10px 15px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1002;
  overflow-y: auto;
}

.drawer.open {
  transform: translateX(0);
}

.drawer-section {
  margin-bottom: 20px;
}

.drawer-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  border-bottom: 1px solid #666;
  padding-bottom: 4px;
}

.drawer-section ul {
  list-style: none;
  padding-left: 10px;
  margin: 0;
}

.drawer-section li {
  margin: 5px 0;
}

.drawer-section a {
  text-decoration: none;
  color: #333; /* koyu gri */
  transition: color 0.2s;
}

.drawer-section a:hover {
  color: #000; /* üstüne gelince siyah */
}

/* İçerik */
.main {
  margin-top: 60px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.main.shift,
header.shift {
  transform: translateX(250px);
}

/* Slider */
.slider-container {
  width: 80%;
  height: 50vh;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.slider-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Kutular */
.thumbnail-grid {
  display: grid;
  gap: 20px;
  width: 95%;
  margin: auto;
}

.thumbnail {
  display: block;
  width: 100%;
  padding-top: 100%;
  background-color: #bbb;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}

.thumbnail:hover {
  transform: scale(1.02);
}

@media (min-width: 768px) {
  .thumbnail-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .thumbnail-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.slider-container a {
  display: block;
  width: 100%;
  height: 100%;
}

.slider-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;

}


